.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  padding: 20px;
  width: 50%;          /* Ширина 50% */
  height: 20vh;        /* Высота 20% от высоты окна */
  margin: 40vh auto;      /* Центрирование по горизонтали */
  box-sizing: border-box;
}

.link {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button {
  width: 150px; /* В 2 раза меньше ширины инпута */
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #f0f0f0;
}